.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.outOfStock{
    background-color: rgb(207, 52, 52) !important;
}
.product {
    margin-top: 2rem;
    background-color: rgb(229, 228, 228);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px  rgb(146, 146, 146) ;
}
.image{
    width:150px;
    height: 150px;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px  rgb(0, 0, 0);
}
.image img{
    width: 100%;
    height: fit-content;
}
.proDetails {
    display: flex;
    flex-direction: column;
}
.display-none{
    display: none;
}